.CodeMirror {
    border: 1px solid #ccc;
    /* width: 90%;
    height: auto; */
    /* padding: 10px 5px; */
    margin: 5px;
    height: auto;
}

.CodeMirror-scroll {
    height: auto;
}

.preview {
    margin: 5px;
    border: 1px solid #ccc;
}

.preview code {
    color: brown;
}

.preview span {
    padding: 5px;
    font-family: sans-serif;
}
