.cell {
    margin-bottom: 10px;
    width: 95%;
    border-bottom: 1px solid #eee;
}

.cell_type {
    font-family: sans-serif;
    font-size: 10px;
    margin-top: 3px;
    margin-bottom: 8px;
}

.cell_type div {
    display: inline;
}

.cell_type .type_atom {
    padding: 1px 2px;
    color: white;
    background-color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.cell_type .type_var {
    padding: 1px 2px;
    color: tomato;
    background-color: transparent;
    border: 1px solid tomato;
    border-radius: 5px;
}

.type_lambda .lambda_left::after {
    content: "→";
    padding: 0 2px;
}

.type_aliased {
    color: antiquewhite;
    background-color: #999;
    border: 1px solid #999;
    border-radius: 5px;
    padding: 1px 2px;
}

.aliased_def {
    padding: 2px 1px;
    margin-right: 3px;
}

.aliased_msg {
    padding: 2px 0px 1px 0px
}

.comp_string {
    color: #a11;
}

.comp_string::before {
    content: "\"";
}

.comp_string::after {
    content: "\"";
}

.comp_stringp {
    color: darkgreen;
}

.comp_unknown {
    color: rosybrown;
}
