.CodeMirror {
    position: relative;
    border: 1px solid #ccc;
    border-bottom-color: #bbb;
    margin: 5px 5px 0 5px;
    height: auto;
    box-shadow: 0px 1px 1px rgba(200,200,200,0.6);
}

.CodeMirror-scroll {
    height: auto;
}
