.preview {
    margin: 5px 5px 40px 5px;
    padding: 6px 5px 6px 32px;
    border: 1px solid #aaa;
    border-bottom-color: #999;
    box-shadow: 0px 1px 1px rgba(200,200,200,0.6);
    /* box-shadow: 0px 1px 1px rgba(200,200,200,0.6), inset 0px 1px 2px rgba(200,200,200,0.3); */
}

.preview code {
    color: brown;
}

.preview span {
    /* padding: 5px; */
    font-family: sans-serif;
}

.preview--empty, .preview--rendering {
    font-family: monospace;
    color: #bbb;
    /* content: "<Empty>"; */
    height: 1.2em;
}

.preview--error {
    color: brown;
    font-family: monospace;
    height: auto;
}

.add-screen {
    display: inline;
    font-size: 12px;
    margin: 5px;
    padding: 2px 7px 4px 6px;
    background-color: cadetblue;
    color: white;
    border-radius: 6px;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: inset -1px -0.5px 0px rgba(255,255,255,0.75);
    transition: background-color 100ms ease-in;
}

.add-screen:hover {
    background-color: lightseagreen;
}
